.conteiner {
  overflow: hidden;
  border: 1px solid #ccc;
  min-width: 0; /* Fix for flex item not respecting width */
}

.Carousel__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
